body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
}

.section1{
    display: flex;
    justify-content: space-between;
}

.s1_contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s2_contents{
    display: flex;
    justify-content: space-between;
}

.s2_infobox{
    text-align: center;
    height: 300px;
    width: 300px;
}

.section3{
    display: flex;
    flex-direction: column;
}

.s3_attribution{
    display: flex;
    justify-content: flex-end;
}

.s4_box{
    display: flex;
    justify-content: space-between;
}

.s4_text{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

.s2_infobox img{
    max-width: 200px;

}

.s1_image{
    max-width: 400px;
}